body {
  background-color: #353B3F;
  font-family: "Roboto", sans-serif;
}
/*Video fondo*/
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
/* Card */
.card {
  position: relative;
  height: 450px;
  width: 900px;
  margin: 200px auto;
  background-color: #FFF;
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}

/* Image left side */
.thumbnail {
  float: left;
  position: relative;
  left: 30px;
  top: -30px;
  height: 300px;
  width: 530px;
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}

/*Cover;*/
/*pOSICION*/
img.left {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  transform: translate(-50%, -50%);
}

/* Right side of card */
.right {
  margin-left: 590px;
  margin-right: 20px;
}

h1 {
  padding-top: 15px;
  font-size: 1.3rem;
  color: #4B4B4B;
}

h2 {
  padding-top: 8px;
  margin-right: 6px;
  text-align: right;
  font-size: 0.8rem;
}
.separator {
  margin-top: 10px;
  border: 1px solid #C3C3C3;
}

p {
  text-align: center;
  padding-top: 10px;
  line-height: 150%;
  color: #4B4B4B;
}

/* Pricetag*/
h5 {
  position: absolute;
  left: 30px;
  bottom: -120px;
  font-size: 6rem;
  color: #C3C3C3;
}

h6 {
  position: absolute;
  left: 30px;
  bottom: -55px;
  font-size: 2rem;
  color: #C3C3C3;
}

.backhome{
  text-decoration: none;
  color: #353B3F;
}

.backhome:hover{
  color: blue;
}